*{
    font-family: monospace;
}
.App-header{
    font-size: xx-large;
    text-align: center;
    padding-top: 5px;
}
.App{
    background-color: rgb(214, 225, 247);
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
}